/* Estilos para dispositivos móveis */

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('imagens/fundoreal.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 100%; /* Ocupa toda a largura disponível */
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(240, 240, 240, 0.8);
    border: 1px solid #ccc;
}

/* Estilos específicos para elementos */
.primeiro_texto {
    margin-bottom: 20px;
    color: #231d28;
    font-size: 24px;
    font-family: Courier New, monospace;
}

.texto_video {
    margin-bottom: 20px;
    color: #231d28;
    font-size: 16px;
    font-family: Snell Roundhand, cursive;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.video-player, .img_premio, .img_gif, .img_gif2 {
    width: 100%; /* Ocupa toda a largura disponível */
    display: block;
    margin: 10px auto; /* Centraliza horizontalmente */
}

/* Estilos específicos para formulário e botões */
label {
    display: block;
    margin: 10px 0 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

/* Estilos para seção de administração */
.admin-section {
    display: none; /* Oculta a seção de administração inicialmente */
}

#admin-login {
    display: none; /* Oculta o login de administração inicialmente */
}

/* Estilos para label do input de arquivo */
input[type="file"] {
    display: none;
}

label[for="file-input"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #f0f0f0;
    text-align: center;
    border: 1px solid #ccc;
}
